.card {
    height: 100%;
    max-width: 305px;
    border: 2px #1f1f1f solid;
    padding: 0 10px 5px 10px;
    border-radius: 5px;

    .head_card {
        .menu {
            display: flex;
            li {
                margin-right: 20px;
                border: 1px #1f1f1f solid;
                padding: 5px;
                border-radius: 5px;
                color: black;
            }
            li:active {
                background-color: #e0e0e0;
                color: black;
            }

        }
    }
    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }



}
