<div class="card">
    <div class="head_card">
        <ul class="menu">
            <li><a routerLink="/" >income</a></li>
            <li><a routerLink="/outcome">outcome</a></li>
            <li><a routerLink="/loan">loan</a></li>
            <li><a routerLink="/investment">investment</a></li>
        </ul>
    </div>
    <div class="body_card">
        <div class="title">
            <div class="name">Name</div>
            <div class="acount">Acount</div>
        </div>
        <router-outlet></router-outlet> 
    </div>
 

</div>





